<!Doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
<div class="card-group">
    <div class="card-deck">
   <div class="col-sm-12">
      <div class="float-left">
      <div class="card" style="width: 19rem;" class="rounded">
        <img class="card-img-top"<%= image_tag("propphoto.jpg", alt:"") %>
          <div class="card-body", id:"contactcard">
          <h5 class="card-title">Francisco L Hernandez</h5>
          </div>
      </div>
      </div>
      <div class="card">
          <div class="card-body">
              <h5 class="card-title text-center">Francisco! that's fun to say." -Buddy the Elf</h5>
              <p class="card-text"><br>
                English/Spanish/Code is what I speak, read, and write,<br> Classic SNES&copy; games are what I play.
                Futbol is my sport.<br> Tacos are what i eat! Is there anything else?.<br> Conspiracy theories facinate me but not in a wierd way, thank you <a href="http://danbrown.com">Dan Brown.</a><br>
                The person who inspires me everday, is my son <%=image_tag("32px-Autism_Awareness_Ribbon.png")%>&copy;.<br>
                I believe there isn't anything I cant achieve as long as I have <a href="https://chucknorris.com">Chuck Norris</a></p><br>
                Software development is what i do, Current Projects:
                <a href="https://alpha-blog-frankie.herokuapp.com">
                alpha-blog</a>,
                <a href="https://www.sensoryfitnesstacoma.com">Sensory Fitness Tacoma</a>
                <div class="card-footer text-center"><h5>Contact Information</h5><br>
                <a href="mailto: 138fhernandez@gmail.com?Subject=Contact%20Form" target="top">Click to send me an Email!!</a><br>
          </div>
      </div>
  </div>
</div>


  </div>








  </div>



</body>
</html>
