<!Doctype html>
<html lang="en">
<head>
     <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="center jumbotron text-center">
    <h3>Francisco L Hernandez</h3>
    <p>Was raised in the heart of the silicon valley surrounded by tech. His fascination with the tech developments grew into coding and developed with strong advise and encouragement from dear friends and family. Using innovative methods he followed his dream and now specializes in Web Development using HTML5, CSS3, Javascript, Vanilla, Bootstrap, Ruby with Ruby on Rails, MySQL and PHP.
He also does IOS Development using Swift5, Xcode, and Cocoapods. to create apps.
</p>
<p>When he's not behind his computer he is busy soaking up the Pacific Northwest evergreen air, biking, gardening, homeschooling his son and goofing off enjoying time with his family.
</p>
<p>Francisco Volunteers through the Live Strong Cancer Foundation using his skills as a Reiki Practitioner to facilitate relaxation among cancer patients and survivors.
</p>
<p>Francisco is dedicated to what ever experience he sets his mind to and sets the intention to follow through until he makes a difference, instills personal growth and success is achieved.
</p><br>
<br>
<br>
<br>
<br>
<p><h4> "The most important decision you will ever make is to be in a good mood"   -Voltaire</h4> 
</p>




    
</div>
</body>
</html 

